body {
background: rgb(37,68,88);
background: linear-gradient(90deg, rgba(37,68,88,1) 44%, rgba(111,166,156,1) 98%);
}

.bg {
    background-image: url('/img/fondo4.png');
    background-position: center center;
}

.fondo {
    background-color: rgb(227, 227, 233);
}

.letra {
    color: #254458;
} 

.boton {
    background-color: #254458;
}