*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(37,68,88);
    background: linear-gradient(90deg, rgba(37,68,88,1) 44%, rgb(94, 141, 132) 98%);

}

.post, .comentario{
    background-color: aliceblue;
    margin: 0 auto;
    width: 700px;
    padding: 25px;
}

img{
    height: 25px;
}

.usuario img{
    width: 75px;
    height: 75px;
    border: solid 1px #dee2e6;
    border-radius: 50px;
}

.titulo, .usuario, .nombre{
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.lenguaje, .nombreUsuario{
    border: solid 1px #dee2e6;
    text-decoration: none;
    border-radius: 25px;
    padding: 8px;
}


.nombreUsuarioComentario{
    text-decoration: none;
}