*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(37,68,88);
    background: linear-gradient(90deg, rgba(37,68,88,1) 44%, rgb(46, 91, 102) 98%);
    color: white;
}

img{
    height: 25px;
    border-radius: 25px;
}

.titulo1 {
    color: aliceblue;
    
}

.lenguaje, .nombreUsuario{
    text-decoration: none;
    border-radius: 25px;
    padding: 4px;
}


.nombreUsuarioComentario{
    text-decoration: none;
    border-radius: 25px;
}

.modalComentario{
    background-color: black;
  
}

.comentar{
    background-image: url(/images/iconImages/comentar.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(0, 255, 255, 0);
    height: 32px;
    width: 32px;
    border: none;
    margin-left: 10px;
}

.comentarDiv{
    display: flex;
    text-align: end;
}

::-webkit-scrollbar {
    background: rgb(78, 78, 78);
    border-radius: 10px;
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border: solid white 1px; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.719); 
}

.comentarioOverflow{
    height: 200px;
    overflow: auto;
}

ul{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

.navegador{
    position: fixed;
    background-color: #212529;
    border: solid 1px;
    border-color: aliceblue;
    margin-right: -55px;
    margin-left: 30px;
    padding: 15px;
    
}

.dropdownsito{
    margin-left: 150px;
    margin-bottom: 30px;
}

.navegador h2{
    text-align: center;
}

.navegacion{
    position: fixed;
    display: flex;
    background-color: #212529;
    height: 50px;
    width: 100%;
}

.navegacion img{
    margin-left: 10px;
    width: 200px;
    height: 50px;
}

.infoUsuario{
    display: flex;
    padding: 10px;
}

.dropdownColor{
    color: white;
    background-color: #212529;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

a{
    text-decoration: none;
}

.infoUsuario img{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.titulo1 {
    color: aliceblue;
    margin-top: 50px;
}
.btnc {
    padding: 9px;
    margin: 10px 20px 0 0;
    border-radius: 4px;
}
.btna{
    margin: 10px 40px 0 0;
    padding: 9px;
    border-radius: 4px;
}
.btn2{
    margin-top: 70px;
    padding: 9px;
    border-radius: 7px;
}

.linksito{
    background-color: rgb(33 37 41);
    border: none;
    color: #0f61d8;
}

.linksito:hover{
    color: #0f61d8;
}

.imagenPost{
    background-image: url(/images/iconImages/picture.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(0, 255, 255, 0);
    height: 32px;
    width: 32px;
    border: none;
}

