*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(37,68,88);
    background: linear-gradient(90deg, rgba(37,68,88,1) 44%, rgb(46, 91, 102) 98%);
    color: white;
}

.post, .comentario{
    background-color: #18191dd3;
    border: solid 1px;
    border-color: aliceblue;
    margin: 0 auto;
    width: 700px;
    padding: 25px;
}

img{
    height: 25px;
}

.lenguaje img{
    height: 64px;
    width: 6;
}

.usuario img{
    width: 75px;
    height: 75px;
    border: solid 1px rgb(139, 139, 139);
    border-radius: 50px;
}

.titulo, .usuario, .nombre{
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.lenguaje, .nombreUsuario{
    text-decoration: none;
    border-radius: 25px;
    padding: 4px;
}


.nombreUsuarioComentario{
    text-decoration: none;
}

.modalComentario{
    background-color: black;
}

.comentar{
    background-image: url(/images/iconImages/comentar.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(0, 255, 255, 0);
    height: 32px;
    width: 32px;
    border: none;
}

.comentarDiv{
    display: flex;
    text-align: end;
}

::-webkit-scrollbar {
    background: rgb(78, 78, 78);
    border-radius: 10px;
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border: solid white 1px; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.719); 
}

.comentarioOverflow{
    height: 200px;
    overflow: auto;
}

ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li{
    list-style-type: none;
    margin: 4px;
}

.navegador{
    position: fixed;
    background-color: #18191dd3;
    border: solid 1px;
    border-color: aliceblue;
    margin-right: -55px;
    margin-left: 55px;
    padding: 25px;
}

.navegador h2{
    text-align: center;
}

.navegacion{
    position: fixed;
    display: flex;
    background-color: black;
    border-bottom: solid 1px aliceblue;
    height: 50px;
    width: 100%;
}

.navegacion img{
    margin-left: 10px;
    width: 200px;
    height: 50px;
}

.infoUsuario{
    display: flex;
    padding: 10px;
}